<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h1>Error <%= status %></h1>
    <p><%= message %></p>
    <a href="/listings" class="btn btn-primary">Go Back to Home</a>
  </div>
</div>